# Exploratory Data Analysis

Let's do a quick overview of different datasets to check data integrity and cleaning

### Import Libraries

In [2]:
import pandas as pd
import numpy as np

### Circuits Dataset

Entries: 77<br>
Columns: 9<br>
Null values: 0

In [3]:
circuits_df = pd.read_csv('Datasets/circuits.csv')

circuits_df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [4]:
# print(circuits_df.describe(include='all'))

circuits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.5+ KB

##### Change the columns datatypes to match with their real world counterparts and Check for null values

In [5]:
#Altitud from integer to float
circuits_df['alt'] = circuits_df.alt.astype('float')

#Various to string
circuits_df[['circuitRef', 'name', 'location', 'country', 'url']] = circuits_df[['circuitRef', 'name', 'location', 'country', 'url']].astype('string')

#Null values
print(circuits_df.isnull().sum())

#check the Dtypes of the columns
circuits_df.info()

circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     string
 2   name        77 non-null     string
 3   location    77 non-null     string
 4   country     77 non-null     string
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     float64
 8   url         77 non-null     string
dtypes: float64(3), int64(1), string(5)
memory usage: 5.5 KB

In [76]:
# Convert the file type to JSON file

circuits_df.to_json('Datasets\circuits.csv')

### Constructors Dataset
Entries: 211<br>
Columns: 5<br>
Null Values: 0

In [6]:
constructors_df = pd.read_json('Datasets/constructors.json', lines=True) #lines parameter is to let the reader know there is a \n

constructors_df.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [7]:
columns = ["constructorRef", "name", "nationality", "url"]

constructors_df[columns] = constructors_df[columns].astype("string")
constructors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    string
 2   name            211 non-null    string
 3   nationality     211 non-null    string
 4   url             211 non-null    string
dtypes: int64(1), string(4)
memory usage: 8.4 KB

##### Null Values

In [8]:
constructors_df.isnull().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

### Drivers dataset
Entries: 853<br>
Columns: 8<br>
Null Values: 0

In [56]:
drivers_df = pd.read_json('Datasets\drivers.json', lines=True)
drivers_df.head()

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [57]:
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     853 non-null    int64
 1   driverRef    853 non-null    object
 2   number       853 non-null    object
 3   code         853 non-null    object
 4   name         853 non-null    object
 5   dob          853 non-null    object
 6   nationality  853 non-null    object
 7   url          853 non-null    object
dtypes: int64(1), object(7)
memory usage: 53.4+ KB

In [ ]:
# Changing the \N missing values in number column to NaN 
drivers_df['number'] = drivers_df.number.replace('\\N', np.nan).astype('float')

### Pit Stops Data Set
Entries: 8030<br>
Columns: 7<br>
Null Values: 0

In [77]:
pits_df = pd.read_json('Datasets\pit_stops.json')
pits_df.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [78]:
pits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        8030 non-null   int64
 1   driverId      8030 non-null   int64
 2   stop          8030 non-null   int64
 3   lap           8030 non-null   int64
 4   time          8030 non-null   object
 5   duration      8030 non-null   object
 6   milliseconds  8030 non-null   int64
dtypes: int64(5), object(2)
memory usage: 439.3+ KB

In [88]:
pits_df.isnull().sum()

raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

### Races Data Frame
Entries: <br>
Columns: <br>
Null Values:

In [89]:
races_df = pd.read_csv('Datasets\\races.csv')
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [92]:
races_df[['name', 'url']] = races_df[['name', 'url']].astype('string')

races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1058 non-null   int64
 1   year       1058 non-null   int64
 2   round      1058 non-null   int64
 3   circuitId  1058 non-null   int64
 4   name       1058 non-null   string
 5   date       1058 non-null   object
 6   time       1058 non-null   object
 7   url        1058 non-null   string
dtypes: int64(4), object(2), string(2)
memory usage: 66.2+ KB